/*
* 颜色定义
*/

// 主色
$colorPrimary: #222222;
$colorBackground: #f9f9f9;

// 提示
$colorTips: #F99E00;
$colorLink: #87CEFA;
$colorWarm: #B22222;

// 文本
$colorTextGeneral: #666666;
$colorTextAssistant: #999999;
$colorTextBtn: #ffffff;

// 分割线
$colorLine: #e4e4e4;


// 文本文字大小
//用于重要标题和按钮 40px
$fontSizeLevel1: 40px;
//用于标题栏主标及重要标题文字 36px
$fontSizeLevel2: 36px;
//用于标题栏副标题 32px
$fontSizeLevel3: 32px;
//用于次重要标题 30px
$fontSizeLevel4: 30px;
//用于重要正文或小标题 28px
$fontSizeLevel5: 14px;
//用于大部分正文 26px
$fontSizeLevel6: 16px;
//用于辅助性文字 24px
$fontSizeLevel7: 12px;
