// 按钮
.rain-btn__primary {
  display: inline-block;
  width: 60px;
  border-radius: 3px;
  background-color: #c18795;
  color: #fff;
  line-height: 35px;
  text-align: center;
}

// 输入框 
.rain-input {
  width: 100%;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  padding: 0 10px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.rain-textarea {
  width: 100%;
  padding: 10px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  font-size: 14px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.rain-form:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(193, 135, 149, .6);
}

// 导航
.rain-ul__primary {
  display: flex;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 20px;
  height: 100%;
}

.rain-li__primary {
  color: #fff;
  padding: 0 20px;
}

.rain-li__primary>a {
  color: #fff;
}

// 列表
.rain-cells {
  position: relative;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
}

.rain-cells::before {
  content: " ";
  position: absolute;
  width: 100%;
  top: 0;
  height: 1px;
  border-top: 1px solid #e4e4e4;
}

.rain-cell {
  position: relative;
  min-height: 100px;
  padding: 10px;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: space-between;
}

.rain-cell::after {
  content: " ";
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 1px;
  border-top: 1px solid #e4e4e4;
}
